<tr>
  <td><%= commodity.id %></td>
  <td><%= commodity.title %></td>
  <td><%= commodity.price %></td>
  <td><%= commodity.quantity %></td>
  <td><%= commodity.total_price %></td>
  <td>
    <% if commodity.action == 'Buy' %>
      <%= "已賣出" %>
    <% else %>
      <%= "已買進" %>
    <% end %>
  </td>    
</tr>   