<div class="form-group new_form" data-controller='commodity'>
  <%= simple_form_for(commodity, remote: true) do |form| %>
  <div>  
    <%= form.label :title, "名稱" %> 
    <%= form.text_field :title, data: { target: "commodity.weight", action: "blur->commodity#cal_total_price" } ,class:"form-control form-input" %>
  </div>  
  <div>
    <%= form.label :price, "價格" %> 
    <%= form.text_field :price, data: { target: "commodity.unit_price", action: "blur->commodity#cal_total_price" } ,class:"form-control form-input" %>  
  </div> 
  <div>
    <%= form.label :quantity, "數量" %>
    <%= form.number_field :quantity, data: { target: "commodity.total_price"}, class:"form-control form-input" %>
  </div> 
  <div> 
    <%= form.input :action, as: :select, collection: [['Buy', '買'], ['Sell', '賣']], label_method: :second, value_method: :first, label: "委託交易",  class:"form-control form-input"%>
  </div> 

  <div>  
    <%= form.hidden_field :status, as: :select, collection: [['open', '等待中'], ['closed', '已成交']], label_method: :second, value_method: :first, label: "狀態",  class:"form-control form-input" %>
  </div> 
  <%= form.submit class: "btn btn-primary" %>
  <% end %>
</div>