<div class='table-responsive'>
  <table class="table table-hover">

  <thead class='thead-dark'>
    <tr>
      <th>ID</th>
      <th>名稱</th>
      <th>價格</th>
      <th>數量</th>
      <th>合計</th>
      <th>委託</th>
      <th></th>

    </tr>
  </thead>
  
  <tbody>
    <% current_user.commodities.available.each do |commodity| %>
    <tr>
      <td><%= commodity.id %></td>
      <td><%= commodity.title %></td>
      <td><%= commodity.price %></td>
      <td><%= commodity.quantity %></td>
      <td><%= commodity.total_price %></td>
      <td><%= print_action(commodity.action) %></td>
      <td><%= link_to "取消", commodity_path(commodity), method: :delete, data: {confirm: "確認取消委託單嗎？", commit: '是的', title: '你確定嗎?', cancel: '取消'}, class: 'btn btn-outline-danger' %></td>    
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>